<div class="divtitpag">
  <div>
    <h4 class="h4titela"> {{titulotela}} </h4>
    <p class="psubtitela">{{subtitulotela}}</p>
    <p class="psubticaminho">{{caminho}}</p>
  </div>
</div>

<body class="body">

<div class="container">
<div class="lgdiv">

  <mat-form-field appearance="standard" style="padding-left: 3em;">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Digite sua busca" #input>
  </mat-form-field>

  <div class="mat-elevation-z8 lgtable">
    <table mat-table [dataSource]="dataSource">

      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- dadosPess Column -->
      <ng-container matColumnDef="dadosPess">
        <th mat-header-cell *matHeaderCellDef> Dados Pessoais </th>
        <td mat-cell *matCellDef="let element"> {{element.dadosPess}} </td>
      </ng-container>

      <!-- categoria Column -->
      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef> Categoria </th>
        <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
      </ng-container>

      <!-- faturamento Column -->
      <ng-container matColumnDef="faturamento">
        <th mat-header-cell *matHeaderCellDef> Faturamento </th>
        <td mat-cell *matCellDef="let element"> {{element.faturamento}} </td>
      </ng-container>

      <!-- cpagar Column -->
      <ng-container matColumnDef="cpagar">
        <th mat-header-cell *matHeaderCellDef> Contas à Pagar </th>
        <td mat-cell *matCellDef="let element"> {{element.cpagar}} </td>
      </ng-container>

      <!-- cadastro Column -->
      <ng-container matColumnDef="cadastro">
        <th mat-header-cell *matHeaderCellDef> Cadastro </th>
        <td mat-cell *matCellDef="let element"> {{element.cadastro}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>


</div>

</div>

</body>
