<script>
  setInterval(function(){ $('#demo-star').toggleClass('text-success'); }, 300)
</script>
<body style="background-color: #F1F3F6; overflow: hidden;">
  <div id="wrapper" style="background-color: #F1F3F6;  padding: 3%;">

    <div class="content animate-panel">

      <!-- Mural -->
      <div class="row">

          <div class="col-lg-3" *ngFor="let param of parametrizacao" style="margin-top: -1em;">
            <div class="hpanel stats"
            style="
            background-color: #fff;
            padding: 5%;
            height: 5em;
            border: 1px solid #ddd;">
              <div class="panel-body h-100">
                <div class="stats-title pull-left" style="width: 100%;">
                  <a [routerLink]="param.rota" style="text-decoration: none;">
                    <h4 class="text-danger" style="font-size: 12px; font-weight: bold;">
                      {{param.titulo}}</h4>
                  </a>
                <p style="font-size: 11px; margin-top: -10px;">{{param.rodape}}</p>
                <div class="stats-icon pull-right" style="margin-top: -60px;">
                  <a [routerLink]="param.rota">
                    <img [src]="'/assets/imgs/' + param.img" alt="">
                  </a>
                </div>
                </div>
              </div>
            </div>
          </div>

      </div>

      <div class="row">

        <div class="col-lg-3" *ngFor="let link of LinksMural"
        style="padding: 1em;">
          <div class="hpanel"
          style="
          height: 10.5em;
          padding: 1.5em 2em;
          background-color: #fff;
          border: 1px solid #ddd;">
            <div class="" style="text-align: center;">

              <a [routerLink]="link.rota" style="text-decoration: none;">

                <img [src]="'/assets/imgs/' + link.img" alt="" style="">

                <h3 [style.color]="link.cor" style="font-weight: 900; font-size: 23px;">
                  {{link.titulo}}
                </h3>
              </a>

              <p style="font-size: 11px; margin-top: -10px;">{{link.rodape}}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Mural -->
    </div>
  </div>
</body>
