.example-spacer {
  flex: 1 1 auto;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 20%;
  height: 25%;
  font-size: 14px;
  top: -30% !important;
}

td {
  padding-right: 8px;
}







.divprin{
  width: 100%;
  top: 0 !important;
  margin-top: -13px !important;
  vertical-align: middle;
}

.iconedivs{
  float: left;
  vertical-align: middle;
  margin-top: 0;
  height: 57px;
}

.bco{
  background-color: #Fff;
}

.bcocin{
  background-color: #F7F9FA;
}

.bordrig{
  border-right: 1px #ccc solid
}

.bordbot {
  border-bottom: 1px solid #ccc;
}

.pspace{
  height: 5px;
}

.pspic{
  margin-left: 25%;
  width: 4.2%;
  height: 35px;
  text-align: center;
  font-size: 35px;
}

.ptit{
  height: 35px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #34495E;
}

.maticon{
  font-size: 20px;
  vertical-align: middle;
  color: #34495E;
}

.icon{
  height: 35px;
  text-align: center;
  font-size: 35px;
}

.icones{
  float: left;
  vertical-align: middle;
   margin-top: 0;
   height: 57px;
}

.inputs{
  border: none;
  width: 100%;
  height: 100%;
  margin-left: 1%;
}
