<div class="divtitpag">
  <div>
    <h4 class="h4titela"> {{titulotela}} </h4>
    <p class="psubtitela">{{subtitulotela}}</p>
    <p class="psubticaminho">{{caminho}}</p>
  </div>
</div>

  <body class="body">

  <div class="container">
  <div class="lgdiv">

    <mat-form-field appearance="standard" style="padding-left: 3em;">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Digite sua busca" #input>
    </mat-form-field>

    <div class="mat-elevation-z8 lgtable">
      <table mat-table [dataSource]="dataSource">

        <!-- id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef style="width: 5% !important;"> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- subProcesso Column -->
        <ng-container matColumnDef="subProcesso">
          <th mat-header-cell *matHeaderCellDef style="width: 10% !important;"> Sub-Processo </th>
          <td mat-cell *matCellDef="let element"> {{element.subProcesso}} </td>
        </ng-container>

        <!-- nomeGestor Column -->
        <ng-container matColumnDef="nomeGestor">
          <th mat-header-cell *matHeaderCellDef style="width: 10% !important;"> Nome do Gestor </th>
          <td mat-cell *matCellDef="let element"> {{element.nomeGestor}} </td>
        </ng-container>

        <!-- sistema Column -->
        <ng-container matColumnDef="sistema">
          <th mat-header-cell *matHeaderCellDef style="width: 20% !important;"> Sistema / BD / Cloud / etc </th>
          <td mat-cell *matCellDef="let element"> {{element.sistema}} </td>
        </ng-container>

        <!-- armazenamento Column -->
        <ng-container matColumnDef="armazenamento">
          <th mat-header-cell *matHeaderCellDef style="width: 7% !important; text-align: center;"> Formas de Armazenamento </th>
          <td mat-cell *matCellDef="let element" style="width: 7% !important; text-align: center;"> {{element.armazenamento}} </td>
        </ng-container>

        <!-- integracao Column -->
        <ng-container matColumnDef="integracao">
          <th mat-header-cell *matHeaderCellDef style="width: 7% !important; text-align: center;"> Formas de Integracao </th>
          <td mat-cell *matCellDef="let element" style="width: 7% !important; text-align: center;"> {{element.integracao}} </td>
        </ng-container>

        <!-- ondeEsta Column -->
        <ng-container matColumnDef="ondeEsta">
          <th mat-header-cell *matHeaderCellDef style="width: 7% !important; text-align: center;"> Onde Está Hospedado </th>
          <td mat-cell *matCellDef="let element" style="width: 7% !important; text-align: center;"> {{element.ondeEsta}} </td>
        </ng-container>

        <!-- rFornecer Column -->
        <ng-container matColumnDef="rFornecer">
          <th mat-header-cell *matHeaderCellDef style="width: 7% !important; text-align: center;"> Respondável por Fornecer </th>
          <td mat-cell *matCellDef="let element" style="width: 7% !important; text-align: center;"> {{element.rFornecer}} </td>
        </ng-container>

        <!-- rAdministrar Column -->
        <ng-container matColumnDef="rAdministrar">
          <th mat-header-cell *matHeaderCellDef style="width: 7% !important; text-align: center;"> Respondável por Administrar </th>
          <td mat-cell *matCellDef="let element" style="width: 7% !important; text-align: center;"> {{element.rAdministrar}} </td>
        </ng-container>

        <!-- envolvidos Column -->
        <ng-container matColumnDef="envolvidos">
          <th mat-header-cell *matHeaderCellDef style="width: 7% !important; text-align: center;"> Parceiros Envolvidos </th>
          <td mat-cell *matCellDef="let element" style="width: 7% !important; text-align: center;"> {{element.envolvidos}} </td>
        </ng-container>

        <!-- aproximadas Column -->
        <ng-container matColumnDef="aproximadas">
          <th mat-header-cell *matHeaderCellDef style="width: 7% !important; text-align: center;"> Registros Aproximados </th>
          <td mat-cell *matCellDef="let element" style="width: 7% !important; text-align: center;"> {{element.aproximadas}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>


  </div>

  </div>

  </body>
