<div style="overflow: hidden !important; height: 100%;">
  <p class="imgbar">
    <img [src]="user" class="imgUser" alt="">
  </p>
  <div class="usercon">USUÁRIO CONECTADO</div>
  <div>
    <p class="imgbar">
      <img [src]="barsdown" alt="">
    </p>
    <p class="usercon">...</p>
  </div>
  <div class="divs"></div>
  <div class="divs">&nbsp;
  <p class="usercon">
    <a href="#"  routerLinkActive="active" class="btns">
      <img [src]="news" style="float: right;" alt="">
       <span style="padding-left: 1em; width: 70%;">ANALYTICS</span>
    </a>
  </p>
  </div>
  <div class="divs" *ngFor="let item of links">&nbsp;
  <p class="usercon">
    <a [routerLink]="item.rota"  routerLinkActive="active" class="btns">
      <mat-icon style="width: 30%; margin-top: 4px; float: right;">{{item.ico}}</mat-icon>
       <p style="padding-left: 1em; width: 70%; text-align: right !important;">{{item.nome | uppercase}}</p>
    </a>
  </p>
  </div>
