<div class="content">
  <div>
    <h4 class="titulotela"> {{titulotela}} </h4>
    <p class="subtitulotela">{{subtitulotela}}</p>
    <p class="crumbs">{{caminho}}</p>
  </div>
</div>

<body class="body">

  <div class="container">
    <div class="lgdiv" style="border: 1px solid #dcdcdc;">
      <div class="lgdivn2">
        <div class="col-lg-4 lgdivn3">
          <div class="lgdivn4">
            <div class="divn45">
              <img [src]="user" title="Henrique Stablin" style="height: 90%; float: left; margin-right: 0.5em;" alt="">
              <small>henrique.stabelin@grcteam.com.br</small>
              <p style="font-size: 13px; font-weight: bold; color: #555;">Henrique Stablin</p>
            </div>
            <div class="divn25">
              <small>15, set. 2021</small>
              <p style="font-size: 23px; font-weight: 100;">Recrutamento Bahia</p>
            </div>
            <div class="divn20">
              <img [src]="user" title="Julio Oliveira" class="imgus2" alt="">
              <img [src]="user" title="Carlos Ligeiro" class="imgus2" alt="">
              <div class="divspace">&nbsp;</div>
              <a href="#" class="linknone">
                <div class="addresp" title="Adicionar Responsável">
                  <p class="addresplus">+</p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 empres">
          <div class="empresbox">
            <div class="empresbalt">
              <p class="empresp"> Empresa </p>
              <p class="pconteudo">
                <mat-icon class="icon">location_city</mat-icon>
                GRC Team</p>
              </div>
              <div class="processbox">
                <hr class="hrdivis"></div>
                <div class="processbalt">
                  <p class="empresp"> Processo </p>
                  <p class="pconteudo">
                    Dep. Pessoal / RH / Recruramento</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 empres">
                <div class="apontalign empresbox">
                  <div>
                    <!-- <p class="empresp"> Apontamentos </p> -->
                    <div class="divconteudo" style="margin-top: 1em;">

                      <table style="text-align: left !important;" class="  table-hover"
                      *ngFor="let tab of tabsApontamentos">
                      <thead>
                        <tr>
                          <th style="width: 3%; height: 38px !important;" *ngIf="tab.thTabela != ''"></th>
                          <th *ngFor="let thtab of tab.thTabela" [style.width]="thtab.width">{{thtab.campo}}</th>
                          <th style="width: 2%;" *ngIf="tab.thTabela != ''"></th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let dado of tab.tdDados | paginate: { itemsPerPage: 3, currentPage: pageApont, totalItems: totalLengthApont }">
                        <tr>
                          <th *ngIf="dado.id % 2 === 0" class="tdbco" style="height: 38px !important; padding-left: 0.5em; padding-right: 0.8em;" scope="row"><i class="fa fa-thumb-tack" style="color: #777; font-size: 14px;"></i></th>
                          <th *ngIf="dado.id % 2 === 1" class="tdcin" style="height: 38px !important; padding-left: 0.5em; padding-right: 0.8em;" scope="row"><i class="fa fa-thumb-tack" style="color: #777; font-size: 14px;"></i></th>
                          <!-- Campos da tabela -->
                          <td *ngIf="dado.id % 2 === 0" class="tdbco">{{dado.apontamento}}</td>
                          <td *ngIf="dado.id % 2 === 1" class="tdcin">{{dado.apontamento}}</td>
                          <td *ngIf="dado.id % 2 === 0" class="tdbco">{{dado.classif}}</td>
                          <td *ngIf="dado.id % 2 === 1" class="tdcin">{{dado.classif}}</td>
                          <!-- Campos da tabela -->
                          <td *ngIf="dado.id % 2 === 0" class="tdbco" style="padding-left: 0.5em; padding-right: 0.8em;"><a href="#"><i class="text-dark  pull-right fa fa-pencil" ></i></a></td>
                          <td *ngIf="dado.id % 2 === 0" class="tdbco" style="padding-left: 0.5em; padding-right: 0.8em;"><a href="#"><i class="text-danger  pull-right fa fa-times-circle" ></i></a></td>
                          <td *ngIf="dado.id % 2 === 1" class="tdcin" style="padding-left: 0.5em; padding-right: 0.8em;"><a href="#"><i class="text-dark  pull-right fa fa-pencil" ></i></a></td>
                          <td *ngIf="dado.id % 2 === 1" class="tdcin" style="padding-left: 0.5em; padding-right: 0.8em;"><a href="#"><i class="text-danger  pull-right fa fa-times-circle" ></i></a></td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="5">
                            <pagination-controls class="text-right my-pagination"
                            autoHide="false" maxSize="5" directionLinks="true" responsive="true"
                            previousLabel="Anterior" nextLabel="Próxima"
                            (pageChange)="pageApont = $event"></pagination-controls>
                          </td>
                        </tr>
                      </tfoot>
                    </table>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="btns">
            <div style="margin: 0.6em;">
              <button class="btn btn-light btnopt1">
                <mat-icon class="tamatico">keyboard_arrow_left</mat-icon>
              </button>
              <button class="btn btn-light btnopt2">
                <mat-icon class="tamatico">apps</mat-icon>
              </button>
              <button class="btn btn-light btnopt3">
                <mat-icon class="tamatico">menu</mat-icon>
              </button>
              <button class="btn btn-light btnopt4">
                <mat-icon class="tamatico">picture_as_pdf</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <div class="container" style="width: 140%; margin-left: -5%; margin-top: -1em;" >
          <div *ngFor="let fluxo of fluxos">
            <div [style.background-color]="fluxo.fundo" [style.color]="fluxo.cor" class="quadflux">  {{fluxo.camada}}
            </div>
            <img [src]="seta" alt="" *ngIf="fluxo.seta == true" class="imgflux">
          </div>
        </div>

        <div class="lgdivtab">

          <!-- tabs -->
          <div id="content" class="contid">
            <nav class="nav_tabs navid">
              <ul>

                <!-- começa aqui Array COLETA DE DADOS        -->
                <li class="litab" *ngFor="let tab of tabsColeta">
                  <div [id]="tab.tab" class="tab-pane">
                    <input type="radio" name="tabs" class="rd_tabs" [id]="tab.for" checked>
                    <label [for]="tab.for" style="height: 50px; display: flex; align-items: center;">{{tab.title}}</label>
                    <div class="content" >

                      <article class="liarticle">
                        <div class="divcheck">
                          <h3>...</h3>
                        </div>
                        <div class="divbtn">
                          <button class="btn btn-light btnadd" title="Adicionar perguntas"><i class="fa fa-question-circle"></i>  </button>
                          <button class="btn btn-light btnadd" title="Responder perguntas"><i class="fa fa-share-square-o"></i>  </button>
                          <button class="btn btn-light btnadd" title="Adicionar apontamentos"><i class="fa fa-exclamation-triangle"></i>  </button>
                          <button class="btn btn-light btnadd" title="Adicionar dados pessoais"><i class="fa fa-plus-circle"></i>  </button>
                        </div>

                        <div class="divpergunta">
                          <div class="form-check" *ngFor="let perg of tab.perguntas">
                            <a href="#" class="text-danger  pull-right fa fa-times-circle" style="float: right; margin-top: 0.5em; margin-right: 0.5em; text-decoration: none;"></a>
                            <a href="#" class="text-dark  pull-right fa fa-pencil" style="float: right; margin-top: 0.5em; margin-right: 0.5em; text-decoration: none;"></a>
                            <label class="form-check-label larticle" for="flexCheckDefault" *ngIf="perg != ''" style="font-weight: bold;">{{perg.perg}}</label>
                            <label class="form-check-label larticle" for="flexCheckDefault" *ngIf="perg != ''" style="border-bottom: 1px solid #eee;" >{{perg.resp}}</label>
                          </div>
                          <div style="height: 15px;"></div>
                        </div>

                        <table class="table table-hover tabalign">
                          <thead>
                            <tr>
                              <th class="thlg3" *ngIf="tab.thTabela != ''"></th>
                              <th *ngFor="let thtab of tab.thTabela" [style.width]="thtab.width">{{thtab.campo}}</th>
                              <th class="thlg3" *ngIf="tab.thTabela != ''"></th>
                              <th class="thlg3" *ngIf="tab.thTabela != ''"></th>
                            </tr>
                          </thead>
                          <tbody *ngFor="let dado of tab.tdDados" class="table table-striped table-hover">
                            <tr>
                              <th scope="row" *ngIf="dado.id % 2 === 0" class="tdbco"><i class="fa fa-thumb-tack thumbtk"></i></th>
                              <th scope="row" *ngIf="dado.id % 2 === 1" class="tdcin"><i class="fa fa-thumb-tack thumbtk"></i></th>
                              <td *ngIf="dado.id % 2 === 0" class="tdbco">{{dado.dadosPessoais}}</td>
                              <td *ngIf="dado.id % 2 === 1" class="tdcin">{{dado.dadosPessoais}}</td>
                              <td *ngIf="dado.id % 2 === 0" class="tdbco">{{dado.categoria}}</td>
                              <td *ngIf="dado.id % 2 === 1" class="tdcin">{{dado.categoria}}</td>
                              <td *ngIf="dado.id % 2 === 0" class="tdbco"><input class="form-check-input" style="margin-left: 2em;" type="checkbox" value="" [checked]="dado.coletado"></td>
                              <td *ngIf="dado.id % 2 === 1" class="tdcin"><input class="form-check-input" style="margin-left: 2em;" type="checkbox" value="" [checked]="dado.coletado"></td>
                              <td *ngIf="dado.id % 2 === 0" class="tdbco"><a href="#" *ngIf="dado.id % 2 === 0"><i class="text-dark  pull-right fa fa-pencil"></i></a></td>
                              <td *ngIf="dado.id % 2 === 0" class="tdbco"><a href="#" *ngIf="dado.id % 2 === 0"><i class="text-danger  pull-right fa fa-times-circle"></i></a></td>
                              <td *ngIf="dado.id % 2 === 1" class="tdcin"><a href="#" *ngIf="dado.id % 2 === 1"><i class="text-dark  pull-right fa fa-pencil"></i></a></td>
                              <td *ngIf="dado.id % 2 === 1" class="tdcin"><a href="#" *ngIf="dado.id % 2 === 1"><i class="text-danger  pull-right fa fa-times-circle"></i></a></td>
                            </tr>
                          </tbody>
                        </table>

                      </article>
                    </div>
                  </div>
                </li>
                <!-- finaliza aqui -->

                <!-- começa aqui Array ARMAZENAMENTO DOS DADOS         -->
                <li class="litab" *ngFor="let tab of tabsArmazenamento">
                  <div [id]="tab.tab" class="tab-pane">
                    <input type="radio" name="tabs" class="rd_tabs" [id]="tab.for">
                    <label [for]="tab.for" style="height: 50px; display: flex; align-items: center;">{{tab.title}}</label>
                    <div class="content" >

                      <article style="background-color: #fff; margin-left: -2em; padding-left: 2em;">
                        <h3>...</h3>
                        <div style="width: 90%; float: left;">
                          <div class="form-check" style="padding-right: 3%; float: left;" *ngFor="let perg of tab.perguntas">
                            <input class="form-check-input" type="checkbox" value="" [checked]="perg.checked"
                            style="vertical-align: middle !important;" *ngIf="perg != ''">
                            <label class="form-check-label" for="flexCheckDefault"
                            style="text-align: left; vertical-align: middle;" *ngIf="perg != ''">{{perg.perg}}
                          </label>
                        </div>
                      </div>

                      <div style="float: right; padding-bottom: 5px; ">
                        <button class="btn btn-light" style="border: 1px solid #dadada; color: #777;">
                          <i class="fa fa-plus-circle"></i> Adicionar
                        </button>
                      </div>

                      <table style="text-align: left !important;" class="table table-hover">
                        <thead>
                          <tr>
                            <th style="width: 3%;" *ngIf="tab.thTabela != ''"></th>
                            <th *ngFor="let thtab of tab.thTabela" [style.width]="thtab.width">{{thtab.campo}}</th>
                            <th style="width: 2%;" *ngIf="tab.thTabela != ''"></th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let dado of tab.tdDados">
                          <tr>
                            <th scope="row" *ngIf="dado.id % 2 === 0" class="tdbco"><i class="fa fa-thumb-tack" style="color: #777; font-size: 14px;"></i></th>
                            <th scope="row" *ngIf="dado.id % 2 === 1" class="tdcin"><i class="fa fa-thumb-tack" style="color: #777; font-size: 14px;"></i></th>
                            <td *ngIf="dado.id % 2 === 0" class="tdbco">{{dado.subprocesso}}</td>
                            <td *ngIf="dado.id % 2 === 1" class="tdcin">{{dado.subprocesso}}</td>
                            <td *ngIf="dado.id % 2 === 0" class="tdbco">{{dado.nomegestor}}</td>
                            <td *ngIf="dado.id % 2 === 1" class="tdcin">{{dado.nomegestor}}</td>
                            <td *ngIf="dado.id % 2 === 0" class="tdbco">{{dado.sistema}}</td>
                            <td *ngIf="dado.id % 2 === 1" class="tdcin">{{dado.sistema}}</td>
                            <td *ngIf="dado.id % 2 === 0" class="tdbco">{{dado.armazenamento}}</td>
                            <td *ngIf="dado.id % 2 === 1" class="tdcin">{{dado.armazenamento}}</td>
                            <td *ngIf="dado.id % 2 === 0" class="tdbco">{{dado.integracao}}</td>
                            <td *ngIf="dado.id % 2 === 1" class="tdcin">{{dado.integracao}}</td>
                            <td *ngIf="dado.id % 2 === 0" class="tdbco">{{dado.ondeesta}}</td>
                            <td *ngIf="dado.id % 2 === 1" class="tdcin">{{dado.ondeesta}}</td>
                            <td *ngIf="dado.id % 2 === 0" class="tdbco">{{dado.fornece}}</td>
                            <td *ngIf="dado.id % 2 === 1" class="tdcin">{{dado.fornece}}</td>
                            <td *ngIf="dado.id % 2 === 0" class="tdbco">{{dado.administra}}</td>
                            <td *ngIf="dado.id % 2 === 1" class="tdcin">{{dado.administra}}</td>
                            <td *ngIf="dado.id % 2 === 0" class="tdbco">{{dado.envolvidos}}</td>
                            <td *ngIf="dado.id % 2 === 1" class="tdcin">{{dado.envolvidos}}</td>
                            <td *ngIf="dado.id % 2 === 0" class="tdbco">{{dado.registros}}</td>
                            <td *ngIf="dado.id % 2 === 1" class="tdcin">{{dado.registros}}</td>
                            <td *ngIf="dado.id % 2 === 0" class="tdbco"><a href="#" *ngIf="dado.id % 2 === 0"><i class="text-dark  pull-right fa fa-pencil"></i></a></td>
                            <td *ngIf="dado.id % 2 === 0" class="tdbco"><a href="#" *ngIf="dado.id % 2 === 0"><i class="text-danger  pull-right fa fa-times-circle"></i></a></td>
                            <td *ngIf="dado.id % 2 === 1" class="tdcin"><a href="#" *ngIf="dado.id % 2 === 1"><i class="text-dark  pull-right fa fa-pencil"></i></a></td>
                            <td *ngIf="dado.id % 2 === 1" class="tdcin"><a href="#" *ngIf="dado.id % 2 === 1"><i class="text-danger  pull-right fa fa-times-circle"></i></a></td>
                          </tr>
                        </tbody>
                      </table>

                    </article>
                  </div>
                </div>
              </li>
              <!-- finaliza aqui -->

              <!-- começa aqui Array PROCESSAMENTO        -->
              <li class="litab" *ngFor="let tab of tabsProcessamento">
                <div [id]="tab.tab" class="tab-pane">
                  <input type="radio" name="tabs" class="rd_tabs" [id]="tab.for">
                  <label [for]="tab.for" style="height: 50px; display: flex; align-items: center;">{{tab.title}}</label>
                  <div class="content" >

                    <article style="background-color: #fff; margin-left: -2em; padding-left: 2em;">
                      <h3>...</h3>
                      <div style="width: 90%; float: left;">
                        <div class="form-check" style="padding-right: 3%; float: left;"
                        *ngFor="let perg of tab.perguntas">
                        <input class="form-check-input" type="checkbox" value="" [checked]="perg.checked"
                        style="vertical-align: middle !important;" *ngIf="perg != ''">
                        <label class="form-check-label" for="flexCheckDefault"
                        style="text-align: left; vertical-align: middle;" *ngIf="perg != ''">{{perg.perg}}
                      </label>
                    </div>
                  </div>

                  <div style="float: right; padding-bottom: 5px; ">
                    <button class="btn btn-light" style="border: 1px solid #dadada; color: #777;">
                      <i class="fa fa-plus-circle"></i> Adicionar
                    </button>
                  </div>

                  <table style="text-align: left !important;" class="table  table-hover">
                    <thead>
                      <tr>
                        <th style="width: 3%;" *ngIf="tab.thTabela != ''"></th>
                        <th *ngFor="let thtab of tab.thTabela" [style.width]="thtab.width">{{thtab.campo}}</th>
                        <th style="width: 2%;" *ngIf="tab.thTabela != ''"></th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let dado of tab.tdDados">
                      <tr>
                        <th scope="row"><i class="fa fa-thumb-tack" style="color: #777; font-size: 14px;"></i></th>
                        <!-- Campos da tabela -->
                        <td>{{dado.DadosPessoais}}</td>
                        <!-- Campos da tabela -->

                        <td><a href="#"><i class="fa fa-times-circle" style="color: red; font-size: 16px;"></i></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </article>
              </div>
            </div>
          </li>
          <!-- finaliza aqui -->

          <!-- começa aqui Array ANÁLISE E APLICAÇÃO DE DADOS        -->
          <li class="litab" *ngFor="let tab of tabsAnalise">
            <div [id]="tab.tab" class="tab-pane">
              <input type="radio" name="tabs" class="rd_tabs" [id]="tab.for">
              <label [for]="tab.for" style="height: 50px; display: flex; align-items: center;">{{tab.title}}</label>
              <div class="content" >

                <article style="background-color: #fff; margin-left: -2em; padding-left: 2em;">
                  <h3>...</h3>
                  <div style="width: 90%; float: left;">
                    <div class="form-check" style="padding-right: 3%; float: left;"
                    *ngFor="let perg of tab.perguntas">
                    <input class="form-check-input" type="checkbox" value="" [checked]="perg.checked"
                    style="vertical-align: middle !important;" *ngIf="perg != ''">
                    <label class="form-check-label" for="flexCheckDefault"
                    style="text-align: left; vertical-align: middle;" *ngIf="perg != ''">{{perg.perg}}
                  </label>
                </div>
              </div>

              <div style="float: right; padding-bottom: 5px; ">
                <button class="btn btn-light" style="border: 1px solid #dadada; color: #777;">
                  <i class="fa fa-plus-circle"></i> Adicionar
                </button>
              </div>

              <table style="text-align: left !important;" class="table  table-hover">
                <thead>
                  <tr>
                    <th style="width: 3%;" *ngIf="tab.thTabela != ''"></th>
                    <th *ngFor="let thtab of tab.thTabela" [style.width]="thtab.width">{{thtab.campo}}</th>
                    <th style="width: 2%;" *ngIf="tab.thTabela != ''"></th>
                  </tr>
                </thead>
                <tbody *ngFor="let dado of tab.tdDados">
                  <tr>
                    <th scope="row"><i class="fa fa-thumb-tack" style="color: #777; font-size: 14px;"></i></th>
                    <!-- Campos da tabela -->
                    <td>{{dado.DadosPessoais}}</td>
                    <!-- Campos da tabela -->

                    <td><a href="#"><i class="fa fa-times-circle" style="color: red; font-size: 16px;"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>

            </article>
          </div>
        </div>
      </li>
      <!-- finaliza aqui -->

      <!-- começa aqui Array COMUNICAÇÃO RELACIONAMENTO COM O TITULAR DE DADOS        -->
      <li class="litab" *ngFor="let tab of tabsRelacionamento">
        <div [id]="tab.tab" class="tab-pane">
          <input type="radio" name="tabs" class="rd_tabs" [id]="tab.for">
          <label [for]="tab.for" style="height: 50px; display: flex; align-items: center;">{{tab.title}}</label>
          <div class="content" >

            <article style="background-color: #fff; margin-left: -2em; padding-left: 2em;">
              <h3>...</h3>
              <div style="width: 90%; float: left;">
                <div class="form-check" style="padding-right: 3%; float: left;"
                *ngFor="let perg of tab.perguntas">
                <input class="form-check-input" type="checkbox" value="" [checked]="perg.checked"
                style="vertical-align: middle !important;" *ngIf="perg != ''">
                <label class="form-check-label" for="flexCheckDefault"
                style="text-align: left; vertical-align: middle;" *ngIf="perg != ''">{{perg.perg}}
              </label>
            </div>
          </div>

          <div style="float: right; padding-bottom: 5px; ">
            <button class="btn btn-light" style="border: 1px solid #dadada; color: #777;">
              <i class="fa fa-plus-circle"></i> Adicionar
            </button>
          </div>

          <table style="text-align: left !important;" class="table  table-hover">
            <thead>
              <tr>
                <th style="width: 3%;" *ngIf="tab.thTabela != ''"></th>
                <th *ngFor="let thtab of tab.thTabela" [style.width]="thtab.width">{{thtab.campo}}</th>
                <th style="width: 2%;" *ngIf="tab.thTabela != ''"></th>
              </tr>
            </thead>
            <tbody *ngFor="let dado of tab.tdDados">
              <tr>
                <th scope="row"><i class="fa fa-thumb-tack" style="color: #777; font-size: 14px;"></i></th>
                <!-- Campos da tabela -->
                <td>{{dado.DadosPessoais}}</td>
                <!-- Campos da tabela -->

                <td><a href="#"><i class="fa fa-times-circle" style="color: red; font-size: 16px;"></i></a>
                </td>
              </tr>
            </tbody>
          </table>

        </article>
      </div>
    </div>
  </li>
  <!-- finaliza aqui -->

  <!-- começa aqui Array EXCLUSÃO DOS DADOS        -->
  <li class="litab" *ngFor="let tab of tabsExclusao">
    <div [id]="tab.tab" class="tab-pane">
      <input type="radio" name="tabs" class="rd_tabs" [id]="tab.for">
      <label [for]="tab.for" style="height: 50px; display: flex; align-items: center;">{{tab.title}}</label>
      <div class="content" >

        <article style="background-color: #fff; margin-left: -2em; padding-left: 2em;">
          <h3>...</h3>
          <div style="width: 90%; float: left;">
            <div class="form-check" style="padding-right: 3%; float: left;"
            *ngFor="let perg of tab.perguntas">
            <input class="form-check-input" type="checkbox" value="" [checked]="perg.checked"
            style="vertical-align: middle !important;" *ngIf="perg != ''">
            <label class="form-check-label" for="flexCheckDefault"
            style="text-align: left; vertical-align: middle;" *ngIf="perg != ''">{{perg.perg}}
          </label>
        </div>
      </div>

      <div style="float: right; padding-bottom: 5px; ">
        <button class="btn btn-light" style="border: 1px solid #dadada; color: #777;">
          <i class="fa fa-plus-circle"></i> Adicionar
        </button>
      </div>

      <table style="text-align: left !important;" class="table  table-hover">
        <thead>
          <tr>
            <th style="width: 3%;" *ngIf="tab.thTabela != ''"></th>
            <th *ngFor="let thtab of tab.thTabela" [style.width]="thtab.width">{{thtab.campo}}</th>
            <th style="width: 2%;" *ngIf="tab.thTabela != ''"></th>
          </tr>
        </thead>
        <tbody *ngFor="let dado of tab.tdDados">
          <tr>
            <th scope="row"><i class="fa fa-thumb-tack" style="color: #777; font-size: 14px;"></i></th>
            <!-- Campos da tabela -->
            <td>{{dado.DadosPessoais}}</td>
            <!-- Campos da tabela -->

            <td><a href="#"><i class="fa fa-times-circle" style="color: red; font-size: 16px;"></i></a>
            </td>
          </tr>
        </tbody>
      </table>

    </article>
  </div>
</div>
</li>
<!-- finaliza aqui -->


</ul>
</nav>
</div>
<!-- tabs -->

</div>
</div>


</body>




<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
