.DeepPink { color: rgb(255,20,147); }
.RoyalBlue { color: rgb(65,105,225); }
.SteelBlue { color: rgb(70,130,180); }
.DarkTurquoise { color: rgb(0,206,209); }
.Olive { color: rgb(128,128,0); }
.Chocolate { color: rgb(210,105,30); }
.DarkMagenta { color: rgb(139,0,139); }
.Goldenrod { color: rgb(218,165,32); }

.imgIco{
  width: 80px !important;
}

.imgIcom{
  width: 50px !important;
}

.hpanel{
  background-color: #fff;
  margin-top: 10%;
  padding: 5%;
  border: 1px solid #ddd;
}

.links{
  text-decoration: none;
}

.skin-option {
  position: fixed;
  text-align: center;
  right: -1px;
  padding: 10px;
  top: 80px;
  width: 150px;
  height: 133px;
  text-transform: uppercase;
  background-color: #ffffff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05),0 1px 4px rgba(0, 0, 0, .1);
  border-radius: 4px 0 0 4px;
  z-index: 100; }



  .divtitpag{
    background-color: #fff;
    padding-left: 2em;
    width: 100%;
    border-bottom: 1px solid #ddd;
    height: 80px;
    padding-top: 0.9em;
  }

  .h4titela{
    font-weight: bold;
    color: #666;
  }

  .psubtitela{
    font-size: 12px;
    color: #777;
    margin-top: -1.5em;
  }

  .psubticaminho{
    font-size: 12px;
    color: #777;
    margin-top: -1.5em;
    padding-right: 2em;
    text-align: right;
  }
