<div class="divtitpag">
  <div>
    <h4 class="h4titela"> {{titulotela}} </h4>
    <p class="psubtitela">{{subtitulotela}}</p>
    <p class="psubticaminho">{{caminho}}</p>
  </div>
</div>

<body class="body">

  <div class="container" style="padding-top: 2em; width: 1000px;">
    <div class="lgdiv">
      <p></p>

  <div style="padding-top: 2%;">
    <a [routerLink]="['/inventario']" style="width: 200px;" routerLinkActive="active" class="btn btn-primary large">
      Cadastrar Ativo
    </a>

    <p></p>
    <table style="width: 100%;" *ngFor="let item of botoes">
      <tr>
        <td style="width: 25%; padding-top: 10px;">
          <a [routerLink]="['/#']" style="width: 200px;" routerLinkActive="active" class="btn btn-primary large">
            {{item.btA}}
          </a>
        </td>
        <td style="width: 25%; padding-top: 10px;">
          <a [routerLink]="['/#']" style="width: 200px;" routerLinkActive="active" class="btn btn-primary large">
            {{item.btB}}
          </a>
        </td>
        <td style="width: 25%; padding-top: 10px;" *ngIf="item.tipo == ''">
          {{item.tipo}}
        </td>
        <td style="width: 25%; border-bottom: 1px solid #999;" *ngIf="item.tipo != ''">
          {{item.tipo}}
        </td>
      </tr>
    </table>
  </div>

</div>
</div>
</body>
